/*
    Amairani Zepeda
    05/07/2020
*/

main {
    text-align: center;
    width: 45%;
    padding-top: 1em;
    margin-top: 1em;
    max-width: 600px;
}

.main {
    overflow-wrap: break-word;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    box-shadow: 0px 0px 10px black;
}

div {
    margin: 0 auto;
    max-width: 400px;
}

div#media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    align-items: stretch;
}

div#media a {
    padding: 10px;
}

div#hire {
    line-height: 20px;
}

.media_image {
    width: 100%;
    max-width: 30px;
    height: 100%;
    max-height: 30px;
    filter: invert(0%);
}

div a img:hover {
    filter: brightness(200%);
}

@media only screen and (max-width: 40em) {
    main {
        width: auto;
        margin-left: 2em;
        margin-right: 2em;

    }

    .main {
        width: auto;
        max-width: 350px;
        font: inherit;
        font-size: 130%;
    }

    div#hire {
        font-size: 130%;
    }
}
